{% macro displaySourceList(source_list) %} {% for source in source_list %}
<div class="col-sm-4">
    <div class="well" style="height:260px">
        <h4><a href ="{{source.url}}">{{source.name}}</a></h4>
        <p>{{source.description}}</p>
        <i><b>Category:</b> {{source.category}}</i><br>
        <i><b>Language:</b> {{source.language}}</i><br>
        <a href="/articles/{{source.id}}" class="btn btn-info btn-md">View Articles</a>

    </div>
</div>
{% endfor %} {% endmacro %}

{% macro displayArticle(articles_list) %} {% for article in articles_list %} {% if article.urlToImage %}
<div class="col-sm-4">
    <div style="height:450px">
        <img class="img-responsive" src="{{article.urlToImage}}" alt="{{article.title}}">
        <h4>{{article.title}}</h4>
        <p>{{article.description | truncate(50)}}</p>
        <p>Created on: {{article.publishedAt}}</p>
        <a href="{{article.url}}" class="btn btn-info">Read More...</a>
    </div>
</div>
{% endif %} {% endfor %} {% endmacro %}